body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #4a0e0e;
    background: linear-gradient(to bottom, #f37175, #f85a5f, #f04a1c);
}

.menu-container {
    max-width: 500px;
    margin: 50px auto;
    padding: 30px;
    border-radius: 10px;
    background: linear-gradient(to bottom, #fdfcfc, #f3c3c4, #eec0b3);
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    text-align: center;
}

.menu-container h1 {
    font-family: cursive, sans-serif;
    font-size: 36px;
    color: #9c1d1d;
    margin-bottom: 5px;
}

.menu-container p.subtitle {
    font-size: 14px;
    color: #9b4646;
    margin-bottom: 30px;
}

h2 {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
    border-bottom: 1px solid #d38c8c;
    padding-bottom: 5px;
    text-align: left;
    color: #da2626;
}

.menu-item {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.item-left {
    text-align: left;
}

.menu-item .item-name {
    font-weight: bold;
    color: #ce4545;
}

.menu-item .item-description {
    font-size: 12px;
    color: #9b4646;
    font-style: italic;
}

.menu-item .price {
    font-weight: bold;
    color: #ce4545;
}
