body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #f3e9ff;
    background: linear-gradient(to bottom, #9668bb, #855b9b, #413e3e);
}

.menu-container {
    max-width: 500px;
    margin: 50px auto;
    padding: 30px;
    border-radius: 10px;
    background: #854e9e;
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
    text-align: center;
}

.menu-container h1 {
    font-family: cursive, sans-serif;
    font-size: 36px;
    color: #e6d4ff;
    margin-bottom: 5px;
}

.menu-container p.subtitle {
    font-size: 14px;
    color: #d7c2f3;
    margin-bottom: 30px;
}

h2 {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
    border-bottom: 1px solid #c295db;
    padding-bottom: 5px;
    text-align: left;
    color: #f0d9ff;
}

.menu-item {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.item-left {
    text-align: left;
}

.menu-item .item-name {
    font-weight: bold;
    color: #f5e8ff;
}

.menu-item .item-description {
    font-size: 12px;
    color: #dcc8f3;
    font-style: italic;
}

.menu-item .price {
    font-weight: bold;
    color: #f5e8ff;
}
